<section class="container authbar">
  <% if (activePage === 'live') { %>
  <a class="btn-cta btn-gold" href="<%= settings.registerUrl %>" target="_blank" rel="noopener">Daftar</a>
  <a class="btn-cta btn-rgb" href="<%= settings.loginUrl %>" target="_blank" rel="noopener">Login</a>
  <a class="btn-cta btn-rgb" href="/">Prediksi Skor</a>
  <% } else { %>
  <a class="btn-cta btn-gold" href="<%= settings.registerUrl %>" target="_blank" rel="noopener">Daftar</a>
  <a class="btn-cta btn-rgb" href="<%= settings.loginUrl %>" target="_blank" rel="noopener">Login</a>
  <a class="btn-cta btn-rgb" href="/live">Live Score</a>
  <% } %>
</section>
