<!doctype html>
<html lang="id">
<head><%- include('../partials/head') %></head>
<body class="<%= typeof bodyClass !== 'undefined' ? bodyClass : '' %>">
<%- body %>
<%- include('../partials/scripts') %>
</body>
</html>
