<!doctype html>

<html lang="id">

<head>

  <%- include('../partials/head') %>

  <!-- GLOBAL BACKGROUND -->
  <style>

    :root{

      --home-bg:
        url('https://cdn.om8k8.com/OMTAPRILBGOK.webp');

    }

  </style>

</head>

<body class="<%= typeof bodyClass !== 'undefined' ? bodyClass : '' %>">

  <%- body %>

  <%- include('../partials/scripts') %>

</body>

</html>
